.container-roadMap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

@media screen and (min-width: 1024px) {
  .container-roadMap {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .container-roadMap {
    margin-top: 4rem;

  }
}
