.container-item::before {
  border-color: #07bcff;
  left: 0;
  border-left-width: 3px;
  border-left-style: solid;
  top: 0;
  height: 45px;
  position: absolute;
  content: "";
}
.container-item::after {
  border-color: #07bcff;
  left: 0;
  border-left-width: 3px;
  border-left-style: solid;
  top: 45px;
  height: calc(100% - 45px);
  right: auto;
  position: absolute;
  content: "";
}

.container-item {
  position: relative;
  padding-bottom: 30px;
  color: #e4e1ff;
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.container-content-item {
  margin-left: 0;
  border: none;
  padding-top: 0;
  padding-right: 25px;
  padding-left: 25px;
  max-width: 100%;
}

.container-content-item::after {
  border-top-style: dashed;
  border-color: rgba(255, 255, 255, 0.1);
  width: 38px !important;
  left: 0 !important;
  height: 0;
  top: 49px;
  background: 0 0 !important;
  border-top: 1px dashed rgba(255, 255, 255, 0.1);
  position: absolute;
  content: "";
}

.container-content-header {
  padding-right: 0;
  margin-bottom: 0;
  line-height: 1.6;
}

.container-content-header-time {
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 27px;
  width: 100%;
  display: inline-block;
  font-weight: 700;
  font-size: 0.71em;
  position: relative;
  line-height: 25px;
  text-transform: uppercase;
}

.container-content-header-time::before {
  background: rgba(255, 255, 255, 0.1);
  bottom: -10px;
  width: 27px;
  height: 27px;
  margin-left: -13.5px;
  margin-top: -13.5px;
  position: absolute;
  content: "";
  left: -24px;
  border-radius: 50%;
}

.container-content-header-time::after {
  background: #fff;
  bottom: -2px;
  width: 11px;
  height: 11px;
  margin-left: -5.5px;
  margin-top: -5.5px;
  position: absolute;
  content: "";
  left: -24px;
  border-radius: 50%;
  z-index: 1;
}

.container-content-header-title {
  padding-top: 25px;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.6;
  color: #fff;
}

.container-content-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-content-list li {
  list-style: none;
  padding: 8px 0;
  position: relative;
  color: #e4e1ff;
  font-size: 0.85em;
  line-height: 1.86;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.container-content-list li:nth-last-child(1)::after {
  content: "";
  display: none;
}


.container-content-list li:after {
  position: absolute;
  content: "";
  left: 10px;
  bottom: 0;
  width: 20px;
  height: 1px;
  transform: translateX(-50%);
  background: currentColor;
}

@media screen and (min-width: 768px) {
  .container-content-list li {
    font-size: 0.95em;
  }
  .container-content-header-title {
    font-size: 1em;
  }
  .container-content-header-time {
    font-size: 0.81em;
  }
}

@media screen and (min-width: 1024px) {
  .container-item::before {
    top: 41px;
    border-top-width: 3px;
    border-top-style: solid;
    left: 0;
    border-left-width: 3px;
    border-left-style: solid;
    height: 0;
    width: 50%;
  }
  .container-item::after {
    right: 0;
    left: auto;
    top: 41px;
    border-top-width: 3px;
    border-top-style: solid;
    border-left-width: 3px;
    border-left-style: solid;
    height: 0;
    width: 50%;
  }
  .container-content-item {
    padding-top: 0;
    width: 100%;
    padding: 0px 30px 35px;
    margin-left: 0;
    border: none;
    width: 100%;
    border-radius: 5px;
    text-align: center !important;
  }
  .container-content-item::after {
    width: 0 !important;
    left: 50% !important;
    margin-left: -0.5px;
    height: 40px !important;
    top: 48px;
    border-top: 0;
    border-left: 1px dashed rgba(255, 255, 255, 0.1);
  }

  .container-content-header-time {
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 27px;
    width: 100%;
    display: inline-block;
    font-weight: 700;
    font-size: 0.91em;
    position: relative;
    line-height: 25px;
    text-transform: uppercase;
  }

  .container-content-header-time::before {
    bottom: -2px;
    left: 50%;
    width: 27px;
    height: 27px;
    margin-left: -13.5px;
    margin-top: -13.5px;
    position: absolute;
    content: "";
    border-radius: 50%;
  }

  .container-content-header-time::after {
    left: 50%;
    bottom: 5px;
    width: 11px;
    height: 11px;
    margin-left: -5.5px;
    margin-top: -5.5px;
  }
  .container-content-header-title {
    padding-top: 3rem
  }
  .container-content-list {
    margin-top: 1rem;
  }
  .container-content-list li{
    font-size: 1em;
  }
  .container-content-list li:after {
    left: 50%;
  }
}
