.MainParagraph {
  color: #e4e1ffea;
  font-size: 0.96em;
  margin: 2rem 0;
}

.SecondaryParagraph {
  color: #e4e1ffea;
  font-size: 0.9em;
  font-weight: 300;
}

.terParagraph {
  color: #af9cff;
}

@media screen and (min-width: 768px) {
  .MainParagraph {
    font-size: 1.1em;
    max-width: 700px;
  }
}

@media screen and (min-width: 1600px) {
  .MainParagraph {
    max-width: 1100px;
  }
  .SecondaryParagraph {
    font-weight: 400;
  }
}
