.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 2rem;
  margin-top: 1rem;
}
.features-container > * {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 120px), 1fr));
    grid-gap: 2rem 2rem;
    margin-top: 2rem;
  }
  .features-container > * {
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .features-container {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
    margin-top: 1.5rem;

  }
  .features-container > * {
    width: auto;
    height: 100%;
  }
}
