.content {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.content > * {
  margin-bottom: 0;
  margin-top: 1rem !important;
}

.line-title {
  margin-top: 1.5rem;
  font-size: 1rem !important;
  color: #39a9ff;
}

.line-title::before {
  background-color: #39a9ff !important;
}

.icon-text-sec span {
  color: #fff !important;
  font-size: large;
}

.icon-text-sec div {
  background-color: transparent !important;
}

.image {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .container > * {
    flex: 1;
  }
  .image {
    flex: 1;
  }
}
