.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-top: 1.2rem;
}

.icon {
  display: flex;
  background-color: white;
  border-radius: 50%;
  padding: 0.6rem;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 0.8em;
  letter-spacing: 0.07px;
  color: #e4e1ffd3;
  font-weight: 400;
  margin-top: .7rem;
}

.text-styled{
  font-weight: 500;
  font-size: 0.85em;
  color: #e4e1ff;
  transition: 1s;
}
.text-styled:hover{
  color: #07bcff;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .text {
    font-size:.9em;
  }
  .text-styled{
    font-size: 0.95em;
  }
}
@media screen and (min-width: 1024px) {
  .text {
    font-size:.9em;
    margin: 0;
    margin-left: 1rem;
  }
  .container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
  }
  .icon {
    width: 35px;
    height: 35px;
  }
  .text-styled{
    font-size: 1.05em;
  }
}
  