.card-container {
    color: rgba(255, 255, 255, 0.815);
}
.image{
  border-radius: 5px;
}
.card-name {
  font-size: 0.9em;
  font-weight: 300;
  margin-bottom: 0;
}
.card-detail {
  font-size: 0.8em;
  font-weight: 300;
  margin-top: .5rem;
  margin-bottom: .3rem;
}
.card-time {
  background-color: black;
  border-radius: 20px;
  width: fit-content;
  margin: 0 auto;
  padding: 0.2rem .7rem;
  text-transform: uppercase;
  font-size: .6em;
  color: white;
}
