.button-rounded {
  padding: 0.5rem .7rem;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-family: "Poppins";
  background: rgb(117, 96, 240);
  background: linear-gradient(
    90deg,
    rgba(117, 96, 240, 1) 0%,
    rgba(10, 185, 255, 1) 100%
  );
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 1659px) {
  .button-rounded {
    padding: .8rem 2rem;
    font-weight: 500;
  }
}
  