.container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.icon {
  display: flex;
  background-color: #07bcff;
  border-radius: 50%;
  padding: .7rem .8rem;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.text {
  font-size: 0.9em;
  letter-spacing: 0.07px;
  color: #07bcff;
}

.icon-secondary{
  background-color: #866bfe;
}
.text-secondary{
  color: #866bfe;
}