.image {
  width: 90%;
}

@media screen and (min-width: 768px) {
  .image {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .container-table {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      grid-gap: 2rem;
  }
  .container-table >* {
      flex:1
  }
  .image {
    flex:.5
  }
}